.side-menu {
  height: calc(100vh - var(--top-bar-height));
  background: var(--mui-palette-secondary-mainChannel);
  display: flex;
  flex-direction: column;

  .trip {
    border-radius: initial;
    --card-width: 100%;
  }
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  gap: calc(3 * var(--spacer));
}
