@import "src/_mixins.scss";

.container {
  padding-top: var(--spacer);
  @include media-breakdown-up(900px) {
    height: 90%;
  }

  .settings-card {
    height: 100%;
  }

  :global(.MuiPaper-root) {
    height: 100%;
  }
}
