@import "src/_consts.scss";
@import "src/_mixins.scss";

$container-border-radius: 25px;

.container {
  display: flex;
  justify-content: center;
  position: relative;

  padding-top: calc(8 * var(--spacer));
  height: 90%;

  & > div {
    padding: var(--spacer);
  }

  .app-icon {
    display: flex;
    justify-content: center;

    background: var(--login-grid-icon-background);
    border-top-left-radius: $container-border-radius;
    border-top-right-radius: $container-border-radius;
    height: 10rem;
    
    & svg {
      position: absolute;
      top: 0;
      width: 80%;
      width: 80%;
      max-width: 16rem;
      max-height: 16rem;;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--login-grid-form-background);
    border-bottom-right-radius: $container-border-radius;
    border-bottom-left-radius: $container-border-radius;
    height: 80%;

    .header {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}
