$container-border-radius: 25px;

.container {
  margin-top: calc(3 * var(--spacer));
  & > div {
    padding: var(--spacer);
  }
  
  .app-icon {
    background: var(--login-grid-icon-background);
    border-top-left-radius: $container-border-radius;
    border-bottom-left-radius: $container-border-radius;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--login-grid-form-background);
    border-top-right-radius: $container-border-radius;
    border-bottom-right-radius: $container-border-radius;

    .header {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}
