@import "src/_consts.scss";
@import "src/_mixins.scss";

$container-border-radius: 25px;

.container {
  margin-top: calc(3 * var(--spacer));
  & > div {
    padding: var(--spacer);
  }

  @include breakdown-down($mui-breakdown-sm) {
    flex-direction: column;
  }

  .app-icon {
    background: var(--login-grid-icon-background);
    border-top-left-radius: $container-border-radius;
    border-bottom-left-radius: $container-border-radius;
    
    @include breakdown-down($mui-breakdown-sm) {
      border-bottom-left-radius: unset;
      border-top-right-radius: $container-border-radius;
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--login-grid-form-background);
    border-top-right-radius: $container-border-radius;
    border-bottom-right-radius: $container-border-radius;

    @include breakdown-down($mui-breakdown-sm) {
      border-bottom-left-radius: $container-border-radius;
      border-top-right-radius: unset;
    }

    .header {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}
