.container {
  padding: calc(2 * var(--spacer));
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(.MuiGrid-item) {
    width: 100%;
  }

  .profile-picture {
    display: flex;
    justify-content: center;

  
    .badge {
      :hover {
        cursor: pointer;
      }
      .camera {
        border: 5px solid var(--mui-palette-common-white);
        background-color: var(--mui-palette-grey-500);
        border-radius: 50%;
        padding: 0.2rem;
        width: 1rem;
        height: 1rem;
      }
    }

    .avatar {
      height: 100px;
      width: 100px;

      &.skeleton {
        transform: scale(1);
      }
    }
  }

  .count > div {
    display: flex;
    gap: calc(var(--spacer) / 2);
    align-items: center;
  }
}
