.app-bar {
  box-shadow: unset;
  flex-basis: var(--top-bar-height);
  .container {
    transition: max-width 650ms ease-in-out;
    height: var(--top-bar-height);

    .toolbar {
      height: var(--top-bar-height);

      .search {
        width: 300px;
        margin-right: var(--spacer);
      }
    }
    .label-container {
      flex-grow: 1;
      text-align: left;

      .label {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: var(--spacer);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .search-bar {
      color: white !important;
      & input {
        margin: calc(-0.5 * var(--spacer)) !important;
      }
    }
  }
}
