.container {
    transition: max-width 650ms ease-in-out;
}

.label {
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
    gap: var(--spacer);

    &:hover {
        cursor: pointer;
    }
}