@import "./_consts.scss";
@import "./mixins";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .inner {
    height: calc(100vh - var(--top-bar-height));
    flex: 1 0 auto;
  }
}

:global(.selectable) {
  cursor: pointer;
}
