:root {
  --spacer: 1rem;
  --backdrop-z-index: 5000;
  --top-bar-height: 64px;
}

html, body {
  height: 100%;
  margin: 0;
}


#root {
  background-color: var(--mui-palette-primary-contrastText);
  min-height: 100vh;
}

