@import url("./palette.scss");

:root {
  --spacer: 1rem;
  --top-bar-height: 72px;

  /* z-indices */
  --backdrop-z-index: 5000;
  --action-confirm-dialog-z-index: 5001;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  overflow: auto;
  background-color: var(--root-background);
  min-height: 100vh;
}
