.expanded {
    margin: 0 !important;
}

.button {
    justify-content: flex-start !important;
    text-transform: initial !important;
}

.header { 
    & p {
        font-weight: bold !important;
    }
    
    &.selected > * {
        color: var(--mui-palette-primary-dark)
    }
}
