html {
  &[data-mui-color-scheme="dark"] {
    --expanded-marker-group-background-color: #2a2a2a;
  }

  &[data-mui-color-scheme="light"] {
    --expanded-marker-group-background-color: #f7f7f7;
  }

  .trip {
    border-radius: initial;
    --card-width: 100%;
  }
  
  .markers-container {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .expanded {
      margin: 0 !important;
      background-color: var(--expanded-marker-group-background-color);
    }
    
    .button {
      justify-content: flex-start !important;
      text-transform: initial !important;
    }
    
    .header {
      & p {
        font-weight: bold !important;
      }
    
      &.selected > * {
        color: var(--mui-palette-primary-dark);
      }
    }
    
    .missing-markers {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      margin-top: var(--spacer);
      gap: var(--spacer);
    
      .icon {
        font-size: 8rem;
      }
    }
  }
}
